.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1410px;
}

.modal {
    &-label {
        background-color: #000;
    }

    &-input {
        outline: none;
        border-bottom: 1px solid $color-border;
    }
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.jc-flex-end {
    justify-content: flex-end;
}

.text-title {
    font-size: clamp(22px, 4vw, 28px);
}

.text-subtitle {
    font-size: clamp(18px, 4vw, 24px);
}
