$color-white: #fff;
$color-light-gray: #dfdfdf;
$color-modal-background: #c1c1c1;
$color-medium-gray: #7b7b7b;
$color-border: #c1c1c1;
$color-accent: #3881da;
$color-light-red: rgba(230, 70, 79, 0.72);
$color-modal-overlay: rgba(0, 0, 0, 0.4);
