.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1410px;
}

.modal {
  &-label {
    background-color: #000;
  }

  &-input {
    outline: none;
    border-bottom: 1px solid $color-border;
  }

  &-item {}
}